// Layout
header {
	background-color: $secondary;
	margin-bottom: 20px;

	h1 {
		padding: 15px 0px;
		color: $white;
		font-size: 1.5rem;
		text-transform: uppercase;
	}

}

aside {
	@extend .col-md-3;

	h2 {
		font-size: 1.125rem;
		border-bottom: 1px solid #000;
	}

	.btn-primary {
		width: 100%;
		text-transform: uppercase;
	}

}

main {
	@extend .col-md-9;
}

// Add New bar with button
.add-new {
	background-color: $gray-200;
	border-radius: 5px;
	padding: 5px 10px;

	.vacancy-count {
		line-height: 28px;
	}

	button {
		@extend .float-right;
		background-color: $white;
		border-color: $white;
		color: $primary;
		text-transform: uppercase;
	}

}

// Vacancy listing item
article {
	@extend .card;
	margin: 10px 0px;

	.body {
		@extend .card-body;
	}

	h1 {
		@extend .card-title;
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 1.2;
		margin-bottom: 0.75rem;
	}

	.btn-primary {
		text-transform: uppercase;
	}

	.btn-default {
		background-color: $gray-500;
		text-transform: uppercase;
		color: $white;
	}

	.vacancy-meta {
		@extend .list-group;
		@extend .list-group-horizontal;

		.item {
			@extend .list-group-item;
			padding-left: 0px;
			border: none;
		}

		i {
			margin-right: 6px;
			color: $secondary;
		}

	}

}

.btn-primary {
	color: $white;
}

// No results
.no-results {
	@extend .lead;
	@extend .text-center;
	margin: 30px 0px;
	color: $gray-500;
	font-size: 1.5rem;

}